pip install numpy
pip install pillow
pip install torch, torchvision, torchaudio
pip install scipy
pip install git+https://github.com/lucasb-eyer/pydensecrf.git
pip install pycocotools
pip install tqdm